.form_debt {
    padding: 2em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: .8em 0;
    border: 1px solid #ccc;
    border-radius: .5em;
}

.select_input {
    padding: 1em;
    border-radius: 1em;
    background-color: #FFFFFF;
    margin: 1em 0;
}

.form_title {
    margin-bottom: 1em;
    font-size: 18px;
    font-weight: 500;
}

.form_buttons {
    display: flex;
    align-items: center;
    text-align: center;
}

.button {
    padding: .5em;
    border-radius: .5em;
    color: white;
    font-size: 14px;
    margin: 0 .3em 0 0; 
    cursor: pointer;
    border: none !important;
    width: 6em;
}

.button:hover {
    filter: opacity(80%)
}

.button_back {
    background-color: lightslategray;
}

.button_save {
    background-color: green;
}